@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/29ddb4605533a38e086b48fa105e0d12?family=Nohemi);
@font-face {
    font-family: "Nohemi";
    src: url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.eot");
    src: url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/29ddb4605533a38e086b48fa105e0d12.svg#Nohemi")format("svg");
}
body {
  margin: 48px;
  width: 1213px;
  display: flex;
  justify-content: center;
}

p, h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Nohemi";
  font-weight: 700;
}

.text-color {
  color: #1DA077
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.card {
  position: relative;
  min-height: 268px;
  border-radius: 28px;
  overflow: visible;
  color: #ffffff;
}

.card-content {
  position: relative;
  z-index: 2;
}

.card-image {
  position: absolute;
  z-index: 1;
}
.card-red {
  background: #F45B5B;
}

.card-teal {
  background: #5492A0;
}

.card-purple {
  background: #6C64A8;
}

.card-beige {
  background: #A88964;
}
.card {
  position: relative;
  min-height: 268px;
  border-radius: 28px;
  overflow: visible;
}

.card-content {
  position: relative;
  z-index: 2;
}

.card-image {
  position: absolute;
  z-index: 1;
}
.layout-red .card-content {
  width: 52%;
  margin-left: auto;
  text-align: center;
  padding: 44px 32px 32px 206px;
}
.layout-red .card-content h1, h2 {
  text-align: right;
}

.layout-red .card-image {
  left: -68px;
  bottom: -58px;
  width: auto;
}
.layout-teal .card-content {
  width: 52%;
  text-align: left;
  padding: 44px 0 32px 28px;
}

.layout-teal .card-image {
  right: -8px;
  top: -2px;
  width: auto;
}
.layout-purple .card-content {
  width: 62%;
  margin: 0 200px;
  text-align: right;
  padding-top: 42px;
}

.layout-purple .card-image {
  left: -76px;
  bottom: -8px;
  width: auto;
}
.layout-beige .card-content {
  width: 58%;
  text-align: left;
  padding: 42px 0 32px 28px;
}

.layout-beige .card-image {
  right: -48px;
  bottom: -22px;
  width: auto;
}